---
ci:
  skip: [hadolint-docker]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
        files: .*\.(yaml|yml)$
        exclude: "{{cookiecutter.stack_name}}/.github/workflows/docker.yml"
  - repo: https://github.com/hadolint/hadolint.git
    rev: v2.6.0
    hooks:
      - id: hadolint-docker
        # FIXME: remove after https://github.com/hadolint/hadolint/issues/628 is resolved
        entry: hadolint/hadolint:v2.6.0 hadolint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.1
    hooks:
      - id: yamllint
        args: ["-d {extends: relaxed, rules: {line-length: disable}}", "-s"]
        files: \.(yaml|yml)$
        exclude: "{{cookiecutter.stack_name}}/.github/workflows/docker.yml"
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5.7
    hooks:
      - id: autopep8
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        exclude: "{{cookiecutter.stack_name}}/.github/workflows/docker.yml"
