name: Build Docker Images

# For more details on events that trigger workflows see:
# https://docs.github.com/en/actions/reference/events-that-trigger-workflows
on:
  pull_request:
    paths-ignore:
      - "*.md"
      - "binder/**"
      - "docs/**"
      - "examples/**"
      - ".pre-commit-config.yaml"
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "*.md"
      - "binder/**"
      - "docs/**"
      - "examples/**"
      - ".pre-commit-config.yaml"

jobs:
  build-images:
    name: Build Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Clone Repository
        uses: actions/checkout@v2
      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install Dev Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-test.txt
      - name: Get refs - this will be used as tags later on
        shell: bash
        run: |
          echo "::set-output name=sha12::$(echo ${GITHUB_SHA} | cut -c1-12)"
        id: getrefs
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver: docker # to be able to test the image locally
      - name: Build # Build only to be able to run tests
        uses: docker/build-push-action@v2
        with:
          context: "."
          file: "Dockerfile"
          tags: |
            {{ cookiecutter.stack_org }}/{{ cookiecutter.stack_name }}:latest
          push: false
      - name: Run tests
        run: python -m pytest tests
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
        {%- raw %}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        {%- endraw %}
      - name: Push
        {%- raw %}
        if: github.ref == 'refs/heads/master'
        {%- endraw %}
        uses: docker/build-push-action@v2
        with:
          context: "."
          file: "Dockerfile"
          tags: |
            {{ cookiecutter.stack_org }}/{{ cookiecutter.stack_name }}:{% raw %}${{ steps.getrefs.outputs.sha12 }}{% endraw %}, {{ cookiecutter.stack_org }}/{{ cookiecutter.stack_name }}:latest
